{% extends 'event_app/base.html' %}


{% block content %}
	<div class = "name">
		<a href="{% url 'event_list' %}" class="content">Back  <span class="glyphicon glyphicon-arrow-left"></span></a>
		<a href="{% url 'list_new' pk=event.pk %}" class="content">New List  <span class="glyphicon glyphicon-plus"></span></a>
		<a href="{% url 'event_edit' pk=event.pk %}" class="content">Edit Event  <span class="glyphicon glyphicon-pencil"></span></a>
		<h2>{{ event.name }}</h2>
		<div class = "date">
			{{ event.date }}
		</div>
	</div>

	<div call = "guests">
		<h3><a href="{% url 'guestlist_detail' pk=event.pk %}">Guest List</a></h3>
		{% for guest in guestlist %}
			<h4> {{ guest.full_name }}</h4>
		{% endfor %}
	</div>

	{% load index %}
	{% for a_list in lists_ %}	
		<div call = "lists3">
			<h3> <a href="{% url 'list_detail' pk=event.pk pk2=a_list.pk %}">{{ a_list.title }} </a></h3>
			<div call = "items">
				{% for item in a_list.item_set.all %}
					<h4> {{ item.title }} </h4>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}	